<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Tarefas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Minha lista de tarefas</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
